.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

.addContactBtn {
  color: white;
  background-color: #343F56;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 1px;
  width: 130px;
  height: 31.5px;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
