
.main {
    width: 650px; /* make sure you are accounting for the sum of all widths within including margins */
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.row div {
    margin: 5px; /*space between eleemnts */
    padding: 5px; /*inner content to border */
    box-shadow: 0px 0px 2px gray;  /*for dev demo, to see separation of elements */

    /* Center the content in each "cell", Add display :flex so we can align the items center and justify them */
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    width: 50px;
}

.phone,
.email {
    width: 150px;
}

.edit,
.delete {
    width: 50px;
    color: white;
    cursor: pointer;
}

.edit {
    background-color: #387c6d;
}

.delete {
    background-color: #e9896a;
}